<!-- ---
layout: archive
title: "Games"
collection: portfolio
categories: categories: gameshtml
permalink: /portfolio/games/
author_profile: true
---

{% include base_path %} -->

<!-- {% for post in site.portfolio %}
  {% if post.categories contains "games" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %} -->

<!-- <div class="games-grid">
  {% for post in site.portfolio %}
    {% if post.categories contains "games" %}
      <div class="games-item">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image }}" alt="{{ post.title }}">
          <h3>{{ post.title }}</h3>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div> -->
