---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<p>In the portfolio section I will present all the codes developed by me.
  They will be devided into two categories: </p>
<p>
  <ul>
    <li>Games</li>
    <li>Personal Projects</li>
  </ul>
</p>
<h2>GAMES:</h2>

<p>Some games, to be displayed in the website, needed to pass receive a code ajustment that was necessary to deploy them throught the <a href='https://anvil.works/open-source'>low-code  Anvil Framework website</a>.
Despite the modification of the code on Anvil, each game page will provide a github link to the raw code.</p>
<p>Some games created required an GUI interface to work. Because of that, those games will not be able to ble played in this website, but it will be provided and .exe to allow you to download and play. 
\nThe executable file was created with "Pyinstaller Library". In some cases your PC provides protection for the apps created like this. 
  If that is the case, you need to exclude the file from the "Real-Time Scanning" section in your PCs firewall protection. If you don't want to modify your PCs protection you can acess the github page with all the codes that were used to create the app, download them and then play them on your own code editor. </p>
<ul>
  <li>To acess all the games created, click <a href="{{ site.baseurl }}/portfolio/games/">HERE</a>.</li>
</ul>
<!-- <a href="{{ site.baseurl }}/portfolio/games/">Veja todos os Games</a> -->

{% include base_path %}

{% for post in site.portfolio %}
  {% unless post.categories contains "games" %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}

