---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<p>In the portfolio section I will present all the codes developed by me.
  They will be devided into two categories: </p>
<p>
  <ul>
    <li>Games</li>
    <li>Personal Projects</li>
  </ul>
</p>
<h2>GAMES:</h2>
<p>To acess all the games created, click <a href="{{ site.baseurl }}/portfolio/games/">HERE</a>.</p>
<!-- <a href="{{ site.baseurl }}/portfolio/games/">Veja todos os Games</a> -->

{% include base_path %}

{% for post in site.portfolio %}
  {% unless post.categories contains "games" %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}

