---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---
<p>In the portfolio section I will present all the codes developed by me.
  They will be divided into two categories: </p>
<div>
  <ul>
    <li>Games</li>
    <li>Personal Projects</li>
  </ul>
</div>

<h2>GAMES</h2>

<p>Some games, to be displayed in the website, needed to receive a code adjustment that was necessary to deploy them.</p>
<div>
  <ul>
    <li>The website used to achieve this was the <a href='https://anvil.works/open-source'>low-code Anvil Framework website;</a>.</li>
    <li>Despite the modification of the code on Anvil, each game page will provide a Github link to the raw code.</a>.</li>
  </ul>  
</div>

<p>Some games created requires a GUI interface to work. Because of that, those games will not be able to be played on this website, but it will be provided and ".exe" to allow you to download and play.</p>
<div>
  <ul>
    <li>The executable file was created with "Pyinstaller Library"</li>
    <li>In some cases, your PC provides protection for the apps created like this. If that is the case, you need to exclude the file from the "Real-Time Scanning" section in your PCs firewall protection.</li>
    <li>If you don't want to modify your PCs protection, you can access the github page with all the codes that were used to create the app, download them and then play them on your own code editor.</li>
  </ul>  
</div>

<p>To access all the games created, click <a href="{{ site.baseurl }}/portfolio/games/">HERE</a>.</p>
<!-- <a href="{{ site.baseurl }}/portfolio/games/">Veja todos os Games</a> -->

<h2>PERSONAL PROJECTS</h2>

<p>The projects in this section were developed using ".ipynb" extension and some tecniques of Deep and Machine learning.</p>
<p>For the present moment the projects are written in portugues.</p>

<p>To access all the personal projects created, click <a href="{{ site.baseurl }}/portfolio/personal-projects/">HERE</a>.</p>

{% include base_path %}

{% for post in site.portfolio %}
  {% unless post.categories contains "games" or post.categories contains "personal-projects" %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}
<!-- {% for post in site.portfolio %}
  {% unless post.categories contains "games" %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %} -->

