.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); /* Ajustado para 3 itens */
    gap: 15px;
    padding: 15px;
    justify-content: center;
    max-width: 1000px; /* Mantém uma largura máxima */
    margin: 0 auto;
}
.games-item {
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: auto; /* Ajusta dinamicamente */
    max-width: 250px; /* Define um limite */
}

.games-item:hover {
    background-color: #333; /* Fundo preto no hover */
    color: white; /* Texto branco no hover */
    border-color: white; /* Borda branca no hover */
    transform: scale(1.05);
}

.games-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.games-item img {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: block;
    padding-bottom: 15px;
    border-bottom: 2px solid #ddd;
}

.games-item h3 {
    margin: auto 0; /* Centraliza verticalmente */
    font-size: 1.0em;
    text-align: center;
    color: black; /* Cor padrão */
    transition: color 0.3s ease-in-out;
}

/* Faz o título mudar de cor no hover */
.games-item:hover h3 {
    color: white;
}
